@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@500&display=swap');

// FONTS
$font-title:'Ubuntu', sans-serif;
$font-stack: 'Montserrat', sans-serif;

// COLORS
$primary-color: rgb(29, 29, 29);
$bg-color : #333;
$light-color : #ddd;
$game-over : rgb(245, 83, 83);
$score-color: rgb(57, 152, 230);
$victory-color: rgb(97, 231, 97);