@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@500&display=swap');

// FONTS
$font-title:'Ubuntu', sans-serif;
$font-stack: 'Montserrat', sans-serif;

// COLORS
$bg-color : #333;
$light-color : #ddd;