@import './base';

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-stack;
}

body{
    background: $bg-color;
    color: $primary-color;
}

header{
    padding: 1vh 5vw;
    color: $light-color;
    box-shadow: 0 .2em .3em rgba($color: $primary-color, $alpha: .8);

    h1{
        text-align: center;
        font: 4vw $font-title;
        text-transform: capitalize;

        &::before{
            content: url(/dist/assets/brick-breaker.png);
            background: rgba($color: $score-color, $alpha: .9);
            margin: .3em;
            display: inline-block;
            padding: .2em;
            transform: scale(.7);
            box-shadow: .1em .1em .2em rgba($color: $primary-color, $alpha: .8);
            border-radius: .1em;
        }
    }
}

nav{
    padding: 1vh 5vw;
    display: flex;
    justify-content: center;
    
    button{
        border: none;
        margin: 1vh 2vw;
        padding: .5em;
        border-radius: .1em;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .02em;
        background: $score-color;
        transition: transform .2s ease-in-out;

        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

section{
    width: 95%;
    margin: 1vh auto;
    display: flex;
    flex-direction: column;
    
    canvas{
        display: block;
        margin: 1vh auto;
        width: 750px;
        height: 450px;
        background: $light-color;
        box-shadow: .1em .1em .2em rgba($color: $primary-color, $alpha: .8);

        &:hover{
            cursor: grab;
        }
    }

    h2{
        font: 3vw $font-title;
        color: $light-color;
        text-align: center;

        #brick-broken{
            color: $score-color;
            font-weight: bold;
        }

        #fail{
            font-size: smaller;
            color: $game-over;
        }

        #victory{
            font-size: smaller;
            color: $victory-color;
        }

    }
}

footer{
    margin-top: 5vh;
    padding: 2vh 5vw;
    color: $light-color;
    text-align: center;
    line-height: 1.9em;
    letter-spacing: .03em;
    font-size: 0.9em;
    box-shadow: 0 -.2em .2em rgba($color: $primary-color, $alpha: .8) ;

    a{
        color: $light-color;
        text-decoration: underline $light-color;
        transition: text-decoration .4s ease-in-out;

        &:hover{
            text-decoration: underline overline $score-color;
        }
    }

    svg{
        color: $score-color;
        transform: scale(1.1);
    }
}